#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript

<Files *.html>
SetOutputFilter DEFLATE
</Files>

<Files *.css>
SetOutputFilter DEFLATE
</Files>

<Files *.xml>
SetOutputFilter DEFLATE
</Files>

<Files *.js>
SetOutputFilter DEFLATE
</Files>

#Header unset ETag
#FileETag None

#<FilesMatch ".(jpg|jpeg|png|gif|ico)$">
#	Header set Expires "Tue, 7 Dez 2010 02:18:46 GMT"
#</FilesMatch>

RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?/$1 [L,QSA] 
#RewriteRule ^(.*)$ index.php?/$1 [L]

AddDefaultCharset UTF-8

